# Compiled class file
*.class

# AP Computer Science A

# Unit 2
!CubeTest.class
!CubeExemplar.class
!SphereExemplar.class
!SphereTest.class
!SecretCrosswordTest.class
!SecretCrosswordGame.class
!StringUtilitiesTest.class
!RandomIntegersTest.class

# Unit 3
!WordProcessorTest.class
!TriangleTypesExemplar.class
!TriangleTypesTest.class
!TriangleTypesDriver.class
!MagpieTest.class

# Unit 4
!FibonacciDriver.class
!FibonacciTest.class
!ItemCounterTest.class
!MatrixCoordinatesTest.class
!MatrixCoordinatesDriver.class
!MatrixCoordinatesExemplar.class
!DiceNotationTest.class
!WordleCanvas.class
!WordleCanvas$WordleKey.class
!WordleCanvas$WordleSquare.class
!WordleGUI.class
!WordleTest.class

# Unit 5
!APCircleTest.class
!APLineTest.class
!BinaryNumberTest.class
!ClockTest.class
!FractionTest.class
!FractionApp.class
!PointTest.class
!StudentTest.class
!Driver.class

# Unit 6
!TraverseArrayExemplar.class
!TraverseArrayTest.class
!ArrayStatsTest.class
!StringArrayTest.class
!WordMixerTest.class
!TrailTest.class
!SelfDivisorTest.class
!HorseBarnTest.class

# Unit 7
!WordPairTest.class
!CookieOrderTest.class
!ClimbingClubTest.class
!TileGameTest.class

# Unit 8
!TetrisTest.class
!GridMonster.class
!TetradTest.class
!BlockDisplay$1.class
!MagicSquareTest.class

# Unit 9
!FlightListTest.class
!ApartmentBuildingTest.class

#Unit 10
!DrawingPanel.class
!DrawingPanel$1.class
!DrawingPanel$2.class
!DrawingPanel$3.class
!DrawingPanel$4.class
!DrawingPanel$5.class
!DrawingPanel$DebuggingGraphics.class
!DrawingPanel$DiffImage.class
!DrawingPanel$DirectGif89Frame.class
!DrawingPanel$DPActionListener.class
!DrawingPanel$DPActionListener$1.class
!DrawingPanel$DPFileFilter.class
!DrawingPanel$DPKeyEventHandler.class
!DrawingPanel$DPKeyEventHandlerAdapter.class
!DrawingPanel$DPMouseEventHandler.class
!DrawingPanel$DPMouseEventHandlerAdapter.class
!DrawingPanel$DPMouseListener.class
!DrawingPanel$DPWindowListener.class
!DrawingPanel$Gif89Encoder.class
!DrawingPanel$Gif89Frame.class
!DrawingPanel$GifColorTable.class
!DrawingPanel$GifPixelsEncoder.class
!DrawingPanel$ImageFrame.class
!DrawingPanel$ImagePanel.class
!DrawingPanel$IndexGif89Frame
!DrawingPanel$ReverseColorMap.class
!DrawingPanel$ReverseColorMap$ColorRecord.class
!DataPlotterTest.class

# Greenfoot
!Counter.class #Greeps
!Creature.class
!Earth.class
!Paint.class
!ScoreBoard.class
!Ship.class
!Timer.class
!TomatoPile.class
!Leaf.class #Wombats
!WombatWorld.class

# Computer Science Data Structures

# Unit 0
!RotateTest.class
!IncdateTest.class
!DateTest.class
!BarringtonExceptionTest.class
!EvilSecretWordTest.class

# Unit 1 
!SquareMatrixTest.class
!StackTest.class
!ArrayStackTest.class
!LinkedStackTest.class

# Unit 2
!KarelJRobot.jar
!EuclideanTest.class

# Unit 3
!QueueTest.class
!PalindromeTest.class

# Unit 4
!WordCountListTest.class
!WordCountTest.class

# Unit 5
!BSTBalanceTest.class
!BSTInitialTest.class
!BSTREmoveTest.class
!BSTTraversalsTest.class
!WordCountCollectionTest.class

# Unit 6
!ArrayMapTest.class
!HashMapTest.class
!LinkedMapTest.class
!MapTest.class

# Unit 7
!HeapTest.class
!GraphTest.class

# Unit 8
!ComplexSortsTest.class
!SimpleSortsTest.class
!ExemplarSorts.class
!SortsTest.class
!SortUtilities.class


# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# MacOS File
.DS_Store
